{% extends "front_base.html" %}

{% block head %}
	{{block.super}}
{% endblock head %}

{% block main_content %}
	{% for article in articles %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="{% url 'front_article_detail' article_id=article.uid %}">{{article.title}}</a>
			</div>
			<div class="panel-body">
				{{article.content|truncatechars_html:100|striptags}}
				<div class="article-info">
					<span>阅读：{{article.read_count}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
					<span>评论：10</span>&nbsp;&nbsp;|&nbsp;&nbsp;
					<span>发表时间：{{article.create_time|date:"Y/m/d H:i"}}</span>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock main_content %}