{% extends "cms_base.html" %}
{% load static %}

{% block titleblock %}
	文章管理
{% endblock titleblock %}

{% block baseheadblock %}
	<link rel="stylesheet" href="{% static 'css/cms_base_manage.css' %}">
	<script src="{% static 'js/cms_base_manage.js' %}"></script>
{% endblock baseheadblock %}

{% block pageboxblock %}
	<h1>文章管理</h1>
	<div class="container">
		<div class="row">
			<ul class="nav nav-tabs" role='tablist' id='sub-nav'>
				<li role='presentation' class="active"><a href="{% url 'cms_index' %}">文章管理</a></li>
				<li role='presentation'><a href="{% url 'cms_category_manage' %}">分类管理</a></li>
				<li role='presentation'><a href="#">评论管理</a></li>
			</ul>
		</div>
		{% block main_content %}
		{% endblock main_content %}
	</div>
{% endblock pageboxblock %}