{% extends "cms_base.html" %}
{% load static %}

{% block titleblock %}
	个人设置
{% endblock titleblock %}

{% block baseheadblock %}
	<link rel="stylesheet" href="{% static 'css/cms_person_info.css' %}">
{% endblock baseheadblock %}

{% block pageboxblock %}
	<div class="content-box">
		<h1>个人设置</h1>
		<div class="container">
			<form action="" class="form-horizontal">
				<div class="form-group">
					<label for="" class="control-label col-md-3 col-sm-3">用户名</label>
					<div class="col-md-9 col-sm-9">
						<input type="text" class="form-control" placeholder="用户名" required value='{{user.username}}'>	
					</div>
				</div>
				<div class="form-group">
					<label for="" class="control-label col-md-3 col-sm-3">邮箱</label>
					<div class="col-md-9 col-sm-9">
						<input type="email" class="form-control" placeholder="邮箱" value="{{user.email}}" readonly>	
					</div>
				</div>
				<div class="form-group">
					<label for="" class="control-label col-md-3 col-sm-3">头像</label>
					<div class="col-md-9 col-sm-9">
						<input type="file" class="form-control">
						<p class="help-block">请上传头像</p>	
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-3 col-sm-3"></div>
					<div class="col-md-9 col-sm-9">
						<button class="btn btn-primary">保存</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock pageboxblock %}