{% extends "cms_base.html" %}
{% load static %}

{% block title %}
    分类管理
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}


{% block head %}
	{{block.super}}
	<link rel="stylesheet" href="{% static 'css/cms_category_list.css' %}">
	<script src="{% static 'js/cms_category_list.js' %}"></script>
{% endblock %}

{% block main_content %}
    <div class="top-box">
        <button class="btn btn-warning add-category-btn" id="add-category-btn">添加新分类</button>
    </div>
    <table class="table table-bordered">
        <thead>
            <th>分类名称</th>
            <th>创建者</th>
            <th>创建时间</th>
            <th>文章数量</th>
            <th>操作</th>
        </thead>
        <tbody>
            {% for category in categorys %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.author.username }}</td>
                    <td>{{ category.create_time }}</td>
                    <td>{{ category.articles.count() }}</td>
                    <td>
                        <button class="btn btn-primary btn-xs edit-category-btn" data-category-id="{{ category.id }}">编辑</button>
                        <button class="btn btn-danger btn-xs delete-category-btn" data-category-id="{{ category.id }}">删除</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}



